@import url('https://fonts.googleapis.com/css2?family=Alata&family=Red+Rose:wght@700&display=swap');

.Link{
  color:black !important;
}
.nav{
  color:white;
}
.name{
  font-family: 'Red Rose', cursive;
display: flex;
justify-content: center;
color:navy;
}
.button{
  display: flex;
justify-content: center;
}
.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.item{
width: 30%;
}